.serveses-area{
    background-color: rgba(0, 0, 255, 0.521);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #fff;
}
.comming-area{
    text-align: center;
    padding-top: 100px;
}

.events-area{
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
